streamlit==1.47.1
# Core
langchain>=0.3.0,<0.4.0
langchain-community>=0.3.0,<0.4.0
langchain-core>=0.3.0,<0.4.0
langchain-text-splitters>=0.3.0,<0.4.0
langchain-google-genai>=2.0.0,<3.0.0
langchain-huggingface>=0.1.0,<0.2.0

# Critical Fix for 'max_retries' error
google-generativeai>=0.8.3

# Vector Store
faiss-cpu
sentence-transformers
torch
sentencepiece>=0.2.0

# PDF & OCR
PyMuPDF
PyPDF2
pytesseract
Pillow>=10.0.0

# Utilities
nltk>=3.9.1
pandas>=2.3.1
huggingface-hub>=0.34.3
altair>=5.5.0
blinker>=1.9.0
cachetools>=5.5.2
click>=8.2.1
importlib-metadata>=6.11.0
packaging>=23.2
python-dotenv